{% extends "base.html" %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'style.css'%}">
{% endblock %}
{% block content %}
<h1></h1>

  <p>Welcome to the<p><em>Website of our design company </em>, We are very glad to see you here</p>

<h2>Dynamic content</h2>

 <p>Application on the Designer</p>
{% if application_list %}
<ul>
    {% for application in application_list %}
    <li>
        <div>
            <a href="{{ application.get_absolute_url }}">{{ application.title }}</a>
            <div  bis_skin_checked="1">
              <p>
                {{ application.desc }}
              </p>
              <img  src="../accounts{{ application.img.url }}" alt="" width="50px" height="50px">
            </div>
            <small>
              <p>{{ application.get_status_display }}, {{ application.get_category_display }} {% if user.is_staff %}Пользователь : {{ application.user.get_username }}{% endif %}</p>
            </small>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
    <p>There are no applications.</p>
{% endif %}

{% endblock %}